app = "n8n-yakin"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  N8N_PORT = "5678"
  N8N_PROTOCOL = "https"
  N8N_HOST = "n8n-yourname.fly.dev"
  GENERIC_TIMEZONE = "Asia/Kolkata"

[[services]]
  internal_port = 5678
  protocol = "tcp"

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
